{% extends 'base.html.twig' %}
{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="ui text container">
        <form class="ui large form" action="{{ path('login') }}" method="post">
            <div class="field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div class="field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password"/>
            </div>
            <div class="field">
                <input class="ui checkbox" type="checkbox" id="remember_me" name="_remember_me" checked/>
                <label for="remember_me">Keep me logged in</label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="/account"/>

            <button class="ui button" type="submit">login</button>
        </form>
    </div>

{% endblock %}