{% extends "base.html.twig" %}

{% block body %}

    <section id="services" class="section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="100ms" data-wow-delay="0.3s">Nasze
                    <span>usługi</span></h2>
                <p class="section-subtitle wow fadeIn" data-wow-duration="100ms" data-wow-delay="0.3s">W ramach
                    współpracy z
                    przedsiębiorstwami proponujemy następujące usługi:</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                        <div class="icon">
                            <i class="lnr lnr-pencil"></i>
                        </div>
                        <h4>Projekt</h4>
                        <p>Tworzenie projektów infrastruktury oraz oprogramowania przeznaczone do biznesplanów /
                            dokumentacji wniosków / analiz eksperckich. Tworzenie wizualizacji, prezentacji, datagramów,
                            szat graficznych projektów.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item-boxes wow fadeInDown" data-wow-delay="0.3s">
                        <div class="icon">
                            <i class="lnr lnr-layers"></i>
                        </div>
                        <h4>Programowanie</h4>
                        <p>Budowa oprogramowania w oparciu o projekt aplikacji i narzędzi w PHP. Integracja
                            oprogramowania z
                            bazami danych, MS Office, oprogramowaniem ERP oraz urządzeniami fizycznymi (m.in. czytniki,
                            mierniki, serwery).</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
                        <div class="icon">
                            <i class="lnr lnr-chart-bars"></i>
                        </div>
                        <h4>Optymalizacja</h4>
                        <p>Optymalizacja działania obecnego w przedsiębiorstwie oprogramowania, witryn, aplikacji czy
                            narzędzi w językach PHP, baz danych OpenSource (np. MySQL) czy narzędzi Excel.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item-boxes wow fadeInDown" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="lnr lnr-enter"></i>
                        </div>
                        <h4>Wdrożenie oprogramowania i infrastruktury</h4>
                        <p>Pilotowanie wdrożenia oprogramowania firm trzecich, pełne prowadzenie projektu digitalizacji
                            obszarów przedsiębiorstwa.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="lnr lnr-cog"></i>
                        </div>
                        <h4>Uruchomienie systemów / zarządzanie oprogramowaniem oraz sprzętem</h4>
                        <p>Utrzymanie techniczne oprogramowania oraz infrastruktury sprzętowej w firmie w zakresie
                            systemów
                            desktopowych oraz serwerowych Windows / Linux, sprzętu biurowego, instalacji sieci
                            przemysłowych.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item-boxes wow fadeInDown" data-wow-delay="0.7s">
                        <div class="icon">
                            <i class="lnr lnr-cloud-check"></i>
                        </div>
                        <h4>Usługi zdalne</h4>
                        <p>Wdrażanie oprogramowania działąjącego w chmurach / automatyzacja backup'ów / dodanie
                            możliwości
                            pracy zdalnej / outsourcing usłuch informatycznych.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="section" data-stellar-background-ratio="0.2">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="500ms" data-wow-delay="0.3s">Możliwości
                    oprogramowania
                    <span>Przemysł 4.0</span></h2>
                <p class="section-subtitle wow fadeIn" data-wow-duration="500ms" data-wow-delay="0.3s">Poniżej podajemy
                    przykładowe możliwości oprogramowania pracującego dla firmy produkcyjnej w zakresie omawiamyn przez
                    zagadnienia Przemysłu 4.0:</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
                        <div class="box-item left">
                <span class="icon">
                  <i class="lnr lnr-cloud-sync"></i>
                </span>
                            <div class="text">
                                <h4>Synchronizacja danych w chmurze</h4>
                                <p>Przeniesienie istotnych danych do chmur prywatnych np. Synology lub publicznych</p>
                            </div>
                        </div>
                        <div class="box-item left">
                <span class="icon">
                  <i class="lnr lnr-laptop-phone"></i>
                </span>
                            <div class="text">
                                <h4>Responsywność interfejsu</h4>
                                <p>Możliwość pracy z interfejsem z dowolego urządzenia mającego dostęp do infrastruktury
                                    wewnętrznej</p>
                            </div>
                        </div>
                        <div class="box-item left">
                <span class="icon">
                  <i class="lnr lnr-cog"></i>
                </span>
                            <div class="text">
                                <h4>Windows / Linux</h4>
                                <p>Możliwość migracji oprogramowania między technologiami Mircosoft / OpenSource</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="show-box wow fadeInDown animated" data-wow-offset="10">
                        <img src="img/features/feature.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
                        <div class="box-item right">
                <span class="icon">
                  <i class="lnr lnr-users"></i>
                </span>
                            <div class="text">
                                <h4>Równoczesność pracy</h4>
                                <p>Pracę wielu użytkowników w systemie, możliwość standardowego dostępu do urządzeń
                                    podłączonych do systemu.</p>
                            </div>
                        </div>
                        <div class="box-item right">
                <span class="icon">
                  <i class="lnr lnr-magic-wand"></i>
                </span>
                            <div class="text">
                                <h4>Otwartość danych przychodzących</h4>
                                <p>Możliwość zbierania danych z interfejsów systemowych maszyn CNC, rejestratorów użycia
                                    mediów, czasu pracy, itp.</p>
                            </div>
                        </div>
                        <div class="box-item right">
                <span class="icon">
                  <i class="lnr lnr-heart-pulse"></i>
                </span>
                            <div class="text">
                                <h4>Monitoring elementów systemu</h4>
                                <p>Możliwość analizy działania poszczególnych systemów - również fizycznych.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="100ms" data-wow-delay="0.3s">Nasz
                    <span>zespół</span></h2>
            </div>

            <div class="card-deck">

                <div class="card text-center">
                    <img class="card-img-top"
                         src="{{ asset("./img/about/Pyrka Marcin.jpg") }}"
                         alt="Card image cap">
                    <div class="card-header">
                        <h1 class="wow fadeIn h1">Marcin Pyrka</h1>
                        <h4 class="wow fadeIn h4">CHIEF EXECUTIVE OFFICER</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-text">Założyciel i właściciel mtype.pl. Programista oraz osoba odpowiedzialna
                            za wdrożenia projektów. Fan startupów i innowacji na globalną skalę. Hobbystycznie
                            również fotograf.
                        </div>
                    </div>
                </div>

                <div class="card text-center">
                    <img class="card-img-top"
                         src="{{ asset("./img/about/Katarzyna Winkler.jpg") }}"
                         alt="Card image cap">
                    <div class="card-header">
                        <h1 class="wow fadeIn h1">Katarzyna Winkler</h1>
                        <h4 class="wow fadeIn h4">EXECUTIVE ASSISTANT</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-text">Grafik, fotoedytor, asystent wykonawczy. W mtype.pl zajmuje się
                            wizualną stroną projektów takich marek jak np. <em>Jeb, the Cat</em>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
